<html>
	<h1>Cerveurus Sample App</h1>

	<p>First Name:</p>
	<input id="first-name" type="text" label="First Name:"></input>

	<br>

	<p>Last Name:</p>
	<input id="last-name" type="text" label="Last Name:"></input>
	
	<br>

	<p>Age:</p>
	<input id="age" type="text" label="Age:"></input>

	<br>

	<button onclick="addPerson(document.getElementById('first-name').value, document.getElementById('last-name').value, document.getElementById('age').value)">Add Person</button>
	<button onclick="deletePerson(document.getElementById('first-name').value, document.getElementById('last-name').value, document.getElementById('age').value)">Delete Person</button>


	<br>

	<h3>List of People:</h3>
	<ul id="people-list">

	</ul>

	<script>
		document.getElementById('first-name').value = '';
		document.getElementById('last-name').value = '';
		document.getElementById('age').value = '';

		// on page load, fetch list of all people
		fetch('http://localhost:7000/api/v1/person/getAll', {
			method: 'GET'
		}).then(response => response.json())
			.then(data => {
			console.log(data);
			for (person of data['people']) {
				console.log(person);
				var ul = document.getElementById("people-list");
				var li = document.createElement("li");
				li.appendChild(document.createTextNode("" + person.firstName + " " + person.lastName + ", " + person.age));
				ul.appendChild(li);
			}
		});

		function addPerson(firstName, lastName, age) {
			request_body = {
						'firstName': firstName,
						'lastName': lastName,
						'age': parseInt(age)
					};
			console.log(JSON.stringify(request_body));

			fetch('http://localhost:7000/api/v1/person/add', {
				method: 'POST',
				body: JSON.stringify(request_body) 
			}).then(response => {
				if (response.status != 200) {
					// NOTE: this is basically the reponse the server sends but I can't figure out how to get it
					// because I'm a dummy C programmer so I'm just hardcoding it now, fuck it
					alert("That person already exists.");
				} else {
					location.reload();
				}
			});
		}

		function deletePerson(firstName, lastName, age) {
			request_body = {
						'firstName': firstName,
						'lastName': lastName,
						'age': parseInt(age)
			};

			fetch('http://localhost:7000/api/v1/person/delete', {
				method: 'DELETE',
				body: JSON.stringify(request_body)
			}).then(response => {
				if (response.status != 200) {
					alert("That person doesn't exist.");
				} else {
					location.reload();
				}
			});
		}
	</script>
</html>
